{% extends "layout.html" %}
{% block content %}
	 <div>
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>{{ legend }}</legend> 
				<div>
					{{ form.title.label }}
					{{ form.title }}
				</div>
				<div>
					{{ form.content.label }}
					{{ form.content }}
				</div>
				<div>
					{{ form.picture.label }}
					{{ form.picture }}
				</div>
			</fieldset>
			<div>
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock %}