{% extends "layout.html" %}
{% block content %}
	 <div>
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>{{ legend }}</legend> 
				<div>
					{{ form.location.label }}
					{{ form.location }}
				</div>
				<div>
					{{ form.injury.label }}
					{{ form.injury }}
				</div>
				<div>
					{{ form.note.label }}
					{{ form.note }}
				</div>
			</fieldset>
			<div>
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock %}