{% extends "layout.html" %}
{% block content %}
		<img src="{{ url_for('static', filename='profile_pics/' + post.student.image_file) }}">
		<a href="{{ url_for('user_posts', username=post.student.username) }}">Reporter: {{ post.student.username }}</a>
		{% if post.reviewedornot == True %}
			<p>This question has been answered by an expert.</p>
		{% endif %}
		<p>Title: {{ post.assignment }}</p>
		<p>Date Posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
		<p>Description: {{ post.grade }}</p>
		{% if post.attached_image %}
			<img src="{{ url_for('static', filename='attachment_pics/' + post.attached_image) }}">
		{% endif %}
		{% for comment in comments.items %}
			<P>Response from: {{ comment.commenter }}</P>
			<p>Title: {{ comment.commenttitle }}</p>
			<p>{{ comment.comment }}</p>
		{% endfor %}
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>{{ legend }}</legend> 
				<div>
					{{ form.title.label }} 
					{{ form.title }}
				</div>
				<div>
					{{ form.content.label }}
					{{ form.content }}
				</div>
			</fieldset>
			<div>
				{{ form.submit }}
			</div>
		</form>
		{% if post.student == current_user %}
			<a href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
			<a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a>
		{% endif %}
{% endblock %}