{% extends "layout.html" %}
{% block content %}
	<div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Register</legend>
				<div>
					{{ form.username.label }}
					{{ form.username }}
				</div>
				<div>
					{{ form.email.label }} 
					{{ form.email }}
				</div>
				<div>
					{{ form.password.label }}
					{{ form.password }}
				</div>
				<div>
					{{ form.confirm_password.label }}
					{{ form.confirm_password }}
				</div>
				<div>
					{{ form.level.label }}
					{{ form.level }}
				</div>
			</fieldset>
			<div>
				{{ form.submit }}
			</div>
		</form>
	</div>
	<div>
		Already Have An Account?
		<a href="{{ url_for('login') }}">Log In</a>
	</div>
{% endblock %}